*{
    font-family: Garamond, Arial, serif;
}

.link{
    font-size: 22px;
    color: rgb(76, 76, 186);
}
.mainpage{
    font-weight: 700;
}

.text, li{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

ot{
color: rgb(189, 138, 190)
}

.photo{
    font-size: 14px;
    letter-spacing: 1px;
    color: darkorange;
}

table, td, th{
border: 2px solid white;
letter-spacing: 2px;
border-spacing: 0px;
word-spacing: 3px;
padding: 8px;
}

table{
    padding: 2px;
}

th{
    font-weight: 800; 
}

