*{
    font-family: Garamond, Arial, serif;
}

.link{
    font-size: 22px;
    color: rgb(76, 76, 186);
}
.mainpage{
    font-weight: 700;
}

.text{
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.photo{
    font-size: 14px;
    letter-spacing: 1px;
    color: darkorange;
}

.table {
border: 3px solid white;
letter-spacing: 3px;
word-spacing: 4px;
padding: 3px;
}